{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.collection == 'publications' %}
    <p> {{ post.type }} {{ post.citation }}, {{ post.date | default: "1900-01-01" | date: "%Y" }} <button><a href="{{ post.paperurl }}">Read</a></button></p>
    {% endif %}
  </article>
</div>